.home {

  &__footer {
    position: absolute;
    top: 50%;

    svg {
      fill: snow;
    }
  }

  &__main--external {
    width: 5rem;
    // height: 5rem;
    border-radius: 5rem;
    margin-top: 2rem;
    margin-left: 2rem;

    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: .2s ease-in-out;

    &:hover{ 
      transform: scale(1.1);
      box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.17);
    }
  }
}