@import '../../base/base.scss';

.home {
  text-align: center;
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: 1.5rem;

    &--name {
      color: white;
      margin-top: 5rem;
      font-size: 10rem;
      @include pop-up;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  &__main {
    width: 82vw;
    height: 70vh;
    background-color: #F9F9F9;
    border-radius: 8px;
    box-shadow: 20px 60px 30px rgba(0, 0, 0, 0.27);
    align-self: center;
    display: flex;
    justify-content: center;
  }
}